/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "header__menu header-logo header__links-list";
  width: 100%;
  margin-top: 92px;
  margin-bottom: 96px;
}

.header__menu {
  display: flex;
  align-self: center;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin-left: 10px;
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header-logo {
  display: block;
}

.header__logo-image {
  height: 105px;
}

.address {
  justify-self: end;
  align-self: center;
  margin-right: 51px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.phone-number {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.email {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  width: 100%;
  height: 757px;
}

.background__picture {
  width: 100%;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin: 163px 50px 20px;
  text-align: start;
}

.aligned-text_center {
  display: block;
  margin-right: 110px;
  margin-left: 110px;
  line-height: 100px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-top: 12px;
  margin-right: 15px;
  letter-spacing: 60px;
  text-align: end;
}

.letter-spacing {
  letter-spacing: 60px;
}
.letter-spacing-not {
  letter-spacing: 32px;
}

.cover__description {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cover__description-text {
  margin-top: 666px;
  margin-left: 422px;

  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.cover__description-text__last__word {
  margin-left: 5px;
}

.bet-button {
  height: 52px;
  margin-top: 650px;
  margin-left: 80px;
  border: 1px solid white;
  padding-right: 32px;
  padding-left: 32px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  height: 580px;
  margin: 178px 50px 181px;
}

.lots__heading {
  display: block;
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
  width: 100%;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_type_film {
  background-size: cover;
}

.card__title {
  position: absolute;
  margin: 50px 40px 348px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__title__type_film {
  width: 100%;
}

.card__text {
  position: absolute;
  width: 360px;
  height: 96px;
  margin: 160px 40px 50px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.card__text__type_film {
  margin: 303px 40px 50px;
}

.card__text__type__book {
  width: 350px;
  margin-top: 160px;
  margin-left: 40px;
}

.card__text__type_picture {
  width: 350px;
  margin: 209px 40px 50px;
}

.lots__look-more-link {
  margin-bottom: 3px;
  margin-left: 41px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  columns: #000;
  border-bottom: 1px solid black;
  width: 192px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "about__logo about__column"
    "about__logo_footer about__column__footer";
  margin-left: 50px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: -5px;
  margin-left: 96px;
  border-radius: 150px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__column {
  display: flex;
  margin-top: 97px;
}

.about__title {
  margin-left: -10px;
  font-weight: bold;
  font-size: 40px;
  font-style: "Raleway", sans-serif;
  text-transform: uppercase;
}

.about__column__footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 3px;
  margin-left: -8px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__text {
  width: 885px;
}

.about__text__bottom__paragraph {
  width: 885px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: "address_footer footer__menu footer__social-list";
  margin: 180px 50px 90px;
}

.address_footer {
  justify-self: start;
  align-self: flex-start;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__menu {
  justify-self: center;
  align-self: flex-start;
}

.footer__menu-list {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style-type: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__menu-link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
